@model letitgogy.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="modal fade" id="registerModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Register</h3>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.FirstName, new { @class = "label-control" })
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @tabindex = "1", @autofocus = "true" })
                                        @Html.ValidationMessageFor(m=>m.FirstName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DOB)
                                        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", @name = "dob", @placeholder = "YYYY/MM/DD", @id = "date_field", @tabindex = "3" })
                                        @Html.ValidationMessageFor(m => m.DOB, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Address, new { @class = "label-control" })
                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @tabindex = "5" })
                                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Username, new { @class = "label-control" })
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @tabindex = "7" })
                                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "label-control" })
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @tabindex = "8", @type = "password", @id = "password"})
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.LastName, new { @class = "label-control" })
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @tabindex = "2" })
                                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Gender, new { @class = "label-control" })
                                        @Html.DropDownList("Gender", (IEnumerable<SelectListItem>)ViewBag.Genders, "---Select a gender---", new { @class = "form-control", @tabindex = "4" })
                                        @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Phone, new { @class = "label-control" })
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @tabindex = "6" })
                                        @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "label-control" })
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @tabindex = "8" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label-control" })
                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @tabindex = "8",@type = "password", @id = "confirmPassword" })
                                        <div><i id="statusIcon" class="fa fa-check hidden" style="font-size:15px"></i> <span id="statusText"></span> </div>
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <div>
                                            <input id="signUp" type="submit" class="btn btn-default" value="Sign Up" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/register.js")
</html>